<nav class="navbar">
  <div class="nav-head">
    <i class="fa fa-bars"></i>
    <h2>Categories</h2>
    <i class="fa fa-search"></i>
  </div>
  
  <div class="most-titles">
  <%= button_to 'Exit' ,destroy_user_session_path,method: :delete,class:""%>
    <span>Most recent</span>
    <span>Most ancient</span>
  </div>

</nav>